@page
@model PrivacyModel
@{
    ViewData["Title"] = "API TEST - Restaurator";
    ViewData["ApiKey"] = "AIzaSyDuzPcOAZnhzFy4tt1YMLI65d2zXVYfOrs";

}

<div class="row">
    <div class="col-md-2">
        LISTA MIEJSC
    </div>
    <div class="col-md-8">
        <div id="map" style="height:800px; width:100%;"></div>
        <script>
            function initMap() {
                var options = {
                    center: { lat: 52.13, lng: 21.00 },
                    zoom: 8,
                }

                var map = new
                    google.maps.Map(document.getElementById("map"), options);

                var marker = new google.maps.Marker({
                    position: { lat: 52.14, lng: 21.02 },
                    map:map
                });

            }



        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["ApiKey"]&callback=initMap&libraries=&v=weekly"
                async></script>
    </div>
    <div class="col-md-2">
        SZUKANIE I FILTRY
    </div>
</div>